{% extends 'base.html' %}
{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>published: {{ post.date }}</p>
                    </div>
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.date }}</a></h1>
                    <p>{{ post.mood|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}